# Explore here

In [278]:
import pandas as pd
import requests
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
from sklearn.model_selection import train_test_split
from sklearn.preprocessing import StandardScaler, LabelEncoder

url = "https://raw.githubusercontent.com/4GeeksAcademy/regularized-linear-regression-project-tutorial/main/demographic_health_data.csv"
df = pd.read_csv(url)
df.to_csv("../data/raw/data.csv", index=False)
df.head()

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2

In [279]:
df.info(verbose=True)

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 108 columns):
 #    Column                                                                         Dtype
---   ------                                                                         -----
 0    fips                                                                           int64
 1    TOT_POP                                                                        int64
 2    0-9                                                                            int64
 3    0-9 y/o % of total pop                                                         float64
 4    19-Oct                                                                         int64
 5    10-19 y/o % of total pop                                                       float64
 6    20-29                                                                          int64
 7    20-29 y/o % of total pop                                                       float64
 8    30-39                                                                          int64
 9    30-39 y/o % of total pop                                                       float64
 10   40-49                                                                          int64
 11   40-49 y/o % of total pop                                                       float64
 12   50-59                                                                          int64
 13   50-59 y/o % of total pop                                                       float64
 14   60-69                                                                          int64
 15   60-69 y/o % of total pop                                                       float64
 16   70-79                                                                          int64
 17   70-79 y/o % of total pop                                                       float64
 18   80+                                                                            int64
 19   80+ y/o % of total pop                                                         float64
 20   White-alone pop                                                                int64
 21   % White-alone                                                                  float64
 22   Black-alone pop                                                                int64
 23   % Black-alone                                                                  float64
 24   Native American/American Indian-alone pop                                      int64
 25   % NA/AI-alone                                                                  float64
 26   Asian-alone pop                                                                int64
 27   % Asian-alone                                                                  float64
 28   Hawaiian/Pacific Islander-alone pop                                            int64
 29   % Hawaiian/PI-alone                                                            float64
 30   Two or more races pop                                                          int64
 31   % Two or more races                                                            float64
 32   POP_ESTIMATE_2018                                                              int64
 33   N_POP_CHG_2018                                                                 int64
 34   GQ_ESTIMATES_2018                                                              int64
 35   R_birth_2018                                                                   float64
 36   R_death_2018                                                                   float64
 37   R_NATURAL_INC_2018                                                             float64
 38   R_INTERNATIONAL_MIG_2018                                                       float64
 39   R_DOMESTIC_MIG_2018                                                            float64
 40   R_NET_MIG_2018                                                                 float64
 41   Less than a high school diploma 2014-18                                        int64
 42   High school diploma only 2014-18                                               int64
 43   Some college or associate's degree 2014-18                                     int64
 44   Bachelor's degree or higher 2014-18                                            int64
 45   Percent of adults with less than a high school diploma 2014-18                 float64
 46   Percent of adults with a high school diploma only 2014-18                      float64
 47   Percent of adults completing some college or associate's degree 2014-18        float64
 48   Percent of adults with a bachelor's degree or higher 2014-18                   float64
 49   POVALL_2018                                                                    int64
 50   PCTPOVALL_2018                                                                 float64
 51   PCTPOV017_2018                                                                 float64
 52   PCTPOV517_2018                                                                 float64
 53   MEDHHINC_2018                                                                  int64
 54   CI90LBINC_2018                                                                 int64
 55   CI90UBINC_2018                                                                 int64
 56   Civilian_labor_force_2018                                                      int64
 57   Employed_2018                                                                  int64
 58   Unemployed_2018                                                                int64
 59   Unemployment_rate_2018                                                         float64
 60   Median_Household_Income_2018                                                   int64
 61   Med_HH_Income_Percent_of_State_Total_2018                                      float64
 62   Active Physicians per 100000 Population 2018 (AAMC)                            float64
 63   Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)         float64
 64   Active Primary Care Physicians per 100000 Population 2018 (AAMC)               float64
 65   Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)  float64
 66   Active General Surgeons per 100000 Population 2018 (AAMC)                      float64
 67   Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)         float64
 68   Total nurse practitioners (2019)                                               float64
 69   Total physician assistants (2019)                                              float64
 70   Total Hospitals (2019)                                                         float64
 71   Internal Medicine Primary Care (2019)                                          float64
 72   Family Medicine/General Practice Primary Care (2019)                           float64
 73   Total Specialist Physicians (2019)                                             float64
 74   ICU Beds_x                                                                     int64
 75   Total Population                                                               int64
 76   Population Aged 60+                                                            int64
 77   Percent of Population Aged 60+                                                 float64
 78   COUNTY_NAME                                                                    object
 79   STATE_NAME                                                                     object
 80   STATE_FIPS                                                                     int64
 81   CNTY_FIPS                                                                      int64
 82   county_pop2018_18 and older                                                    int64
 83   anycondition_prevalence                                                        float64
 84   anycondition_Lower 95% CI                                                      float64
 85   anycondition_Upper 95% CI                                                      float64
 86   anycondition_number                                                            int64
 87   Obesity_prevalence                                                             float64
 88   Obesity_Lower 95% CI                                                           float64
 89   Obesity_Upper 95% CI                                                           float64
 90   Obesity_number                                                                 int64
 91   Heart disease_prevalence                                                       float64
 92   Heart disease_Lower 95% CI                                                     float64
 93   Heart disease_Upper 95% CI                                                     float64
 94   Heart disease_number                                                           int64
 95   COPD_prevalence                                                                float64
 96   COPD_Lower 95% CI                                                              float64
 97   COPD_Upper 95% CI                                                              float64
 98   COPD_number                                                                    int64
 99   diabetes_prevalence                                                            float64
 100  diabetes_Lower 95% CI                                                          float64
 101  diabetes_Upper 95% CI                                                          float64
 102  diabetes_number                                                                int64
 103  CKD_prevalence                                                                 float64
 104  CKD_Lower 95% CI                                                               float64
 105  CKD_Upper 95% CI                                                               float64
 106  CKD_number                                                                     int64
 107  Urban_rural_code                                                               int64
dtypes: float64(61), int64(45), object(2)
memory usage: 2.6+ MB

In [280]:
columnas_a_eliminar = df.filter(regex="^[0-9]+-[0-9]+").columns.tolist()  # Elimina las columnas de edades específicas
columnas_a_eliminar.extend(["TOT_POP", "19-Oct", "80+", "80+ y/o % of total pop"])  # Agregar otras columnas

df_fil = df.drop(columns=columnas_a_eliminar, errors="ignore")
df_fil

,fips,White-alone pop,% White-alone,Black-alone pop,% Black-alone,Native American/American Indian-alone pop,% NA/AI-alone,Asian-alone pop,% Asian-alone,Hawaiian/Pacific Islander-alone pop,...,COPD_number,diabetes_prevalence,diabetes_Lower 95% CI,diabetes_Upper 95% CI,diabetes_number,CKD_prevalence,CKD_Lower 95% CI,CKD_Upper 95% CI,CKD_number,Urban_rural_code
0,1001,42660,76.725239,10915,19.630942,267,0.480207,681,1.224798,62,...,3644,12.9,11.9,13.8,5462,3.1,2.9,3.3,1326,3
1,1003,190301,87.285228,19492,8.940382,1684,0.772399,2508,1.150343,146,...,14692,12.0,11.0,13.1,20520,3.2,3.0,3.5,5479,4
2,1005,12209,49.069571,12042,48.398376,164,0.659137,113,0.454162,46,...,2373,19.7,18.6,20.6,3870,4.5,4.2,4.8,887,6
3,1007,17211,76.834821,4770,21.294643,98,0.437500,53,0.236607,26,...,1789,14.1,13.2,14.9,2511,3.3,3.1,3.6,595,2
4,1009,55456,95.878285,950,1.642462,378,0.653527,185,0.319848,70,...,4661,13.5,12.6,14.5,6017,3.4,3.2,3.7,1507,2
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,40397,93.835219,592,1.375113,665,1.544680,435,1.010429,68,...,2098,8.9,8.3,9.6,2834,2.6,2.4,2.8,821,5
3136,56039,21971,95.190850,175,0.758199,211,0.914172,326,1.412417,35,...,928,7.2,6.5,8.0,1360,2.4,2.2,2.6,447,5
3137,56041,19356,95.354451,168,0.827627,288,1.418789,96,0.472930,30,...,1163,10.4,9.5,11.2,1500,3.0,2.8,3.2,430,5
3138,56043,7450,94.483196,40,0.507292,143,1.813570,65,0.824350,8,...,506,11.3,10.3,12.1,686,3.4,3.2,3.7,207,6
3139,56045,6485,93.081671,48,0.688962,123,1.765466,135,1.937706,2,...,480,11.7,10.7,12.7,644,3.4,3.1,3.6,185,6

In [281]:
df["White_Pop"] = df["White-alone pop"]
df["Black_Pop"] = df["Black-alone pop"]
df["Native_Pop"] = df["Native American/American Indian-alone pop"]
df["Asian_Pop"] = df["Asian-alone pop"]
df["Hawaiian_Pop"] = df["Hawaiian/Pacific Islander-alone pop"]
df["Mixed_Pop"] = df["Two or more races pop"]
df["White_Pop_Percent"] = df["% White-alone"]
df["Black_Pop_Percent"] = df["% Black-alone"]
df["Native_Pop_Percent"] = df["% NA/AI-alone"]
df["Asian_Pop_Percent"] = df["% Asian-alone"]
df["Hawaiian_Pop_Percent"] = df["% Hawaiian/PI-alone"]
df["Mixed_Pop_Percent"] = df["% Two or more races"]
df["Total_Population"] = df["POP_ESTIMATE_2018"]
df["Population_Change"] = df["N_POP_CHG_2018"]
df["Group_Quarters_Estimates"] = df["GQ_ESTIMATES_2018"]
df["Birth_Rate"] = df["R_birth_2018"]
df["Death_Rate"] = df["R_death_2018"]
df["Natural_Increase"] = df["R_NATURAL_INC_2018"]
df["International_Migration"] = df["R_INTERNATIONAL_MIG_2018"]
df["Domestic_Migration"] = df["R_DOMESTIC_MIG_2018"]
df["Net_Migration"] = df["R_NET_MIG_2018"]
df["No_High_School"] = df["Less than a high school diploma 2014-18"]
df["High_School_Only"] = df["High school diploma only 2014-18"]
df["Some_College"] = df["Some college or associate's degree 2014-18"]
df["Bachelor_or_Higher"] = df["Bachelor's degree or higher 2014-18"]
df

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,Birth_Rate,Death_Rate,Natural_Increase,International_Migration,Domestic_Migration,Net_Migration,No_High_School,High_School_Only,Some_College,Bachelor_or_Higher
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,11.8,9.6,2.2,0.0,0.7,0.6,4204,12119,10552,10291
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,10.5,10.3,0.1,0.5,24.3,24.8,14310,40579,46025,46075
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,10.4,12.9,-2.5,0.5,-9.1,-8.6,4901,6486,4566,2220
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,11.1,11.4,-0.3,0.4,-7.0,-6.6,2650,7471,3846,1813
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,11.8,11.4,0.3,0.1,-0.2,0.0,7861,13489,13267,5010
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,12.6,7.0,5.6,1.4,-18.5,-17.2,2549,9433,10108,6243
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,9.9,3.2,6.7,1.6,-16.2,-14.5,958,2272,4087,9847
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,13.5,7.2,6.3,0.0,-14.0,-14.1,934,5176,4810,1995
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,9.3,10.7,-1.4,-0.6,-16.6,-17.2,590,1717,2135,1220
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,9.5,9.7,-0.3,4.3,-6.9,-2.6,389,1796,1868,961

In [282]:
df["Labor_Force"] = df["Civilian_labor_force_2018"]
df["Employed"] = df["Employed_2018"]
df["Unemployed"] = df["Unemployed_2018"]
df["Unemployment_Rate"] = df["Unemployment_rate_2018"]
df["Median_Income"] = df["Median_Household_Income_2018"]
df["Income_Percent_State"] = df["Med_HH_Income_Percent_of_State_Total_2018"]
df["Total_Physicians"] = df["Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)"]
df["Primary_Care_Physicians"] = df["Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)"]
df["General_Surgeons"] = df["Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)"]
df["Nurse_Practitioners"] = df["Total nurse practitioners (2019)"]
df["Physician_Assistants"] = df["Total physician assistants (2019)"]
df["Total_Hospitals"] = df["Total Hospitals (2019)"]
df["ICU_Beds"] = df["ICU Beds_x"]
df["Total_Population"] = df["Total Population"]
df["Senior_Population"] = df["Population Aged 60+"]
df["Senior_Percent"] = df["Percent of Population Aged 60+"]
df["County"] = df["COUNTY_NAME"]
df["State"] = df["STATE_NAME"]
df["State_FIPS"] = df["STATE_FIPS"]
df["County_FIPS"] = df["CNTY_FIPS"]
df["Urban_Rural_Code"] = df["Urban_rural_code"]
df["AnyCondition_Prevalence"] = df["anycondition_prevalence"]
df["Obesity_Prevalence"] = df["Obesity_prevalence"]
df["HeartDisease_Prevalence"] = df["Heart disease_prevalence"]
df["COPD_Prevalence"] = df["COPD_prevalence"]
df["Diabetes_Prevalence"] = df["diabetes_prevalence"]
df["CKD_Prevalence"] = df["CKD_prevalence"]
df["Obesity_CI_Lower"] = df["Obesity_Lower 95% CI"]
df["Obesity_CI_Upper"] = df["Obesity_Upper 95% CI"]
df["HeartDisease_CI_Lower"] = df["Heart disease_Lower 95% CI"]
df["HeartDisease_CI_Upper"] = df["Heart disease_Upper 95% CI"]
df["COPD_CI_Lower"] = df["COPD_Lower 95% CI"]
df["COPD_CI_Upper"] = df["COPD_Upper 95% CI"]
df["Diabetes_CI_Lower"] = df["diabetes_Lower 95% CI"]
df["Diabetes_CI_Upper"] = df["diabetes_Upper 95% CI"]
df["CKD_CI_Lower"] = df["CKD_Lower 95% CI"]
df["CKD_CI_Upper"] = df["CKD_Upper 95% CI"]
df["Total_Poverty"] = df["POVALL_2018"]
df["Overall_Poverty_Percent"] = df["PCTPOVALL_2018"]
df["Child_Poverty_0_17_Percent"] = df["PCTPOV017_2018"]
df["Child_Poverty_5_17_Percent"] = df["PCTPOV517_2018"]
df["Median_Household_Income"] = df["MEDHHINC_2018"]
df["Income_Confidence_Lower"] = df["CI90LBINC_2018"]
df["Income_Confidence_Upper"] = df["CI90UBINC_2018"]
df

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,Diabetes_CI_Upper,CKD_CI_Lower,CKD_CI_Upper,Total_Poverty,Overall_Poverty_Percent,Child_Poverty_0_17_Percent,Child_Poverty_5_17_Percent,Median_Household_Income,Income_Confidence_Lower,Income_Confidence_Upper
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,13.8,2.9,3.3,7587,13.8,19.3,19.5,59338,53628,65048
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,13.1,3.0,3.5,21069,9.8,13.9,13.1,57588,54437,60739
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,20.6,4.2,4.8,6788,30.9,43.9,36.7,34382,31157,37607
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,14.9,3.1,3.6,4400,21.8,27.8,26.3,46064,41283,50845
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,14.5,3.2,3.7,7527,13.2,18.0,15.5,50412,46157,54667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,9.6,2.4,2.8,3540,8.4,10.0,8.5,73315,67141,79489
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,8.0,2.2,2.6,1443,6.3,6.7,5.9,99087,88142,110032
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,11.2,2.8,3.2,2010,10.0,12.1,10.6,63401,56812,69990
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,12.1,3.2,3.7,918,11.9,16.1,14.5,55190,49263,61117
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,12.7,3.1,3.6,777,11.8,16.1,14.2,54319,48315,60323

In [283]:
columnas_a_eliminar = [
    "White-alone pop", "% White-alone", "Black-alone pop", "% Black-alone",
    "Native American/American Indian-alone pop", "% NA/AI-alone",
    "Asian-alone pop", "% Asian-alone", "Hawaiian/Pacific Islander-alone pop",
    "% Hawaiian/PI-alone", "Two or more races pop", "% Two or more races",
    "POP_ESTIMATE_2018", "N_POP_CHG_2018", "GQ_ESTIMATES_2018",
    "R_birth_2018", "R_death_2018", "R_NATURAL_INC_2018",
    "R_INTERNATIONAL_MIG_2018", "R_DOMESTIC_MIG_2018", "R_NET_MIG_2018",
    "Less than a high school diploma 2014-18", "High school diploma only 2014-18",
    "Some college or associate's degree 2014-18", "Bachelor's degree or higher 2014-18",
    "Percent of adults with less than a high school diploma 2014-18",
    "Percent of adults with a high school diploma only 2014-18",
    "Percent of adults completing some college or associate's degree 2014-18",
    "Percent of adults with a bachelor's degree or higher 2014-18",
    "POVALL_2018", "PCTPOVALL_2018", "PCTPOV017_2018", "PCTPOV517_2018",
    "MEDHHINC_2018", "CI90LBINC_2018", "CI90UBINC_2018"
]

df = df.drop(columns=columnas_a_eliminar, errors="ignore")

In [284]:
columnas_a_eliminar = [
    "Civilian_labor_force_2018", "Employed_2018", "Unemployed_2018",
    "Unemployment_rate_2018", "Median_Household_Income_2018",
    "Med_HH_Income_Percent_of_State_Total_2018",
    "Active Physicians per 100000 Population 2018 (AAMC)",
    "Total Active Patient Care Physicians per 100000 Population 2018 (AAMC)",
    "Active Primary Care Physicians per 100000 Population 2018 (AAMC)",
    "Active Patient Care Primary Care Physicians per 100000 Population 2018 (AAMC)",
    "Active General Surgeons per 100000 Population 2018 (AAMC)",
    "Active Patient Care General Surgeons per 100000 Population 2018 (AAMC)",
    "Total nurse practitioners (2019)", "Total physician assistants (2019)",
    "Total Hospitals (2019)", "Internal Medicine Primary Care (2019)",
    "Family Medicine/General Practice Primary Care (2019)",
    "Total Specialist Physicians (2019)", "ICU Beds_x", "Total Population",
    "Population Aged 60+", "Percent of Population Aged 60+", "COUNTY_NAME",
    "STATE_NAME", "STATE_FIPS", "CNTY_FIPS", "county_pop2018_18 and older",
    "anycondition_prevalence", "anycondition_Lower 95% CI",
    "anycondition_Upper 95% CI", "anycondition_number",
    "Obesity_prevalence", "Obesity_Lower 95% CI", "Obesity_Upper 95% CI",
    "Obesity_number", "Heart disease_prevalence",
    "Heart disease_Lower 95% CI", "Heart disease_Upper 95% CI",
    "Heart disease_number", "COPD_prevalence", "COPD_Lower 95% CI",
    "COPD_Upper 95% CI", "COPD_number", "diabetes_prevalence",
    "diabetes_Lower 95% CI", "diabetes_Upper 95% CI", "diabetes_number",
    "CKD_prevalence", "CKD_Lower 95% CI", "CKD_Upper 95% CI", "CKD_number",
    "Urban_rural_code"
]

df = df.drop(columns=columnas_a_eliminar, errors="ignore")
df

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,Diabetes_CI_Upper,CKD_CI_Lower,CKD_CI_Upper,Total_Poverty,Overall_Poverty_Percent,Child_Poverty_0_17_Percent,Child_Poverty_5_17_Percent,Median_Household_Income,Income_Confidence_Lower,Income_Confidence_Upper
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,13.8,2.9,3.3,7587,13.8,19.3,19.5,59338,53628,65048
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,13.1,3.0,3.5,21069,9.8,13.9,13.1,57588,54437,60739
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,20.6,4.2,4.8,6788,30.9,43.9,36.7,34382,31157,37607
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,14.9,3.1,3.6,4400,21.8,27.8,26.3,46064,41283,50845
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,14.5,3.2,3.7,7527,13.2,18.0,15.5,50412,46157,54667
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,9.6,2.4,2.8,3540,8.4,10.0,8.5,73315,67141,79489
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,8.0,2.2,2.6,1443,6.3,6.7,5.9,99087,88142,110032
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,11.2,2.8,3.2,2010,10.0,12.1,10.6,63401,56812,69990
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,12.1,3.2,3.7,918,11.9,16.1,14.5,55190,49263,61117
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,12.7,3.1,3.6,777,11.8,16.1,14.2,54319,48315,60323

In [285]:
# Asegurarse de que las columnas existen antes de operar
if all(col in df.columns for col in ["TOT_POP", "19-Oct", "80+", "80+ y/o % of total pop"]):
    
    # Transformaciones corregidas
    df["Total_poblacion"] = df["TOT_POP"]
    df["Edad_0-19"] = df["0-9"] + df["19-Oct"] + (df["10-19 y/o % of total pop"] * df["TOT_POP"] / 100)
    df["Edad_20-39"] = df["20-29"] + df["30-39"] + (df["20-29 y/o % of total pop"] * df["TOT_POP"] / 100)
    df["Edad_40-59"] = df["40-49"] + df["50-59"] + (df["40-49 y/o % of total pop"] * df["TOT_POP"] / 100)
    df["Edad_60-80+"] = df["60-69"] + df["70-79"] + df["80+"] + (df["60-69 y/o % of total pop"] * df["TOT_POP"] / 100)

else:
    print("⚠️ Algunas columnas no existen en el DataFrame. Revisa los nombres con print(df.columns)")
df

,fips,TOT_POP,0-9,0-9 y/o % of total pop,19-Oct,10-19 y/o % of total pop,20-29,20-29 y/o % of total pop,30-39,30-39 y/o % of total pop,...,Child_Poverty_0_17_Percent,Child_Poverty_5_17_Percent,Median_Household_Income,Income_Confidence_Lower,Income_Confidence_Upper,Total_poblacion,Edad_0-19,Edad_20-39,Edad_40-59,Edad_60-80+
0,1001,55601,6787,12.206615,7637,13.735364,6878,12.370281,7089,12.749771,...,19.3,19.5,59338,53628,65048,55601,22060.999999,20845.000000,22902.000001,17716.000001
1,1003,218022,24757,11.355276,26913,12.344167,23579,10.814964,25213,11.564429,...,13.9,13.1,57588,54437,60739,218022,78582.999995,72371.000005,84662.000003,90168.000011
2,1005,24881,2732,10.980266,2960,11.896628,3268,13.134520,3201,12.865239,...,43.9,36.7,34382,31157,37607,24881,8652.000000,9737.000001,9426.000000,9443.999999
3,1007,22400,2456,10.964286,2596,11.589286,3029,13.522321,3113,13.897321,...,27.8,26.3,46064,41283,50845,22400,7647.999999,9171.000000,9191.000000,7597.999999
4,1009,57840,7095,12.266598,7570,13.087828,6742,11.656293,6884,11.901798,...,18.0,15.5,50412,46157,54667,57840,22234.999999,20367.999998,22792.000001,21196.000002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,43051,6104,14.178532,6326,14.694200,5359,12.448027,6577,15.277229,...,10.0,8.5,73315,67141,79489,43051,18755.999999,17295.000000,15929.000001,13033.000000
3136,56039,23081,2384,10.328842,2185,9.466661,2967,12.854729,4093,17.733200,...,6.7,5.9,99087,88142,110032,23081,6754.000000,10027.000000,9774.000001,7976.000000
3137,56041,20299,3121,15.375142,3205,15.788955,2153,10.606434,2702,13.311001,...,12.1,10.6,63401,56812,69990,20299,9531.000000,7007.999999,7213.999999,6848.000001
3138,56043,7885,858,10.881420,1113,14.115409,715,9.067850,903,11.452124,...,16.1,14.5,55190,49263,61117,7885,3084.000000,2333.000000,2885.000000,3429.000000
3139,56045,6967,780,11.195637,779,11.181283,681,9.774652,906,13.004162,...,16.1,14.2,54319,48315,60323,6967,2338.000000,2268.000000,2454.000000,3246.000000

In [286]:
columnas_a_eliminar = df.filter(regex="^[0-9]+-[0-9]+").columns.tolist()  # Elimina las columnas de edades específicas
columnas_a_eliminar.extend(["TOT_POP", "19-Oct", "80+", "80+ y/o % of total pop"])  # Agregar otras columnas

df = df.drop(columns=columnas_a_eliminar, errors="ignore")
df

,fips,White_Pop,Black_Pop,Native_Pop,Asian_Pop,Hawaiian_Pop,Mixed_Pop,White_Pop_Percent,Black_Pop_Percent,Native_Pop_Percent,...,Child_Poverty_0_17_Percent,Child_Poverty_5_17_Percent,Median_Household_Income,Income_Confidence_Lower,Income_Confidence_Upper,Total_poblacion,Edad_0-19,Edad_20-39,Edad_40-59,Edad_60-80+
0,1001,42660,10915,267,681,62,1016,76.725239,19.630942,0.480207,...,19.3,19.5,59338,53628,65048,55601,22060.999999,20845.000000,22902.000001,17716.000001
1,1003,190301,19492,1684,2508,146,3891,87.285228,8.940382,0.772399,...,13.9,13.1,57588,54437,60739,218022,78582.999995,72371.000005,84662.000003,90168.000011
2,1005,12209,12042,164,113,46,307,49.069571,48.398376,0.659137,...,43.9,36.7,34382,31157,37607,24881,8652.000000,9737.000001,9426.000000,9443.999999
3,1007,17211,4770,98,53,26,242,76.834821,21.294643,0.437500,...,27.8,26.3,46064,41283,50845,22400,7647.999999,9171.000000,9191.000000,7597.999999
4,1009,55456,950,378,185,70,801,95.878285,1.642462,0.653527,...,18.0,15.5,50412,46157,54667,57840,22234.999999,20367.999998,22792.000001,21196.000002
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3135,56037,40397,592,665,435,68,894,93.835219,1.375113,1.544680,...,10.0,8.5,73315,67141,79489,43051,18755.999999,17295.000000,15929.000001,13033.000000
3136,56039,21971,175,211,326,35,363,95.190850,0.758199,0.914172,...,6.7,5.9,99087,88142,110032,23081,6754.000000,10027.000000,9774.000001,7976.000000
3137,56041,19356,168,288,96,30,361,95.354451,0.827627,1.418789,...,12.1,10.6,63401,56812,69990,20299,9531.000000,7007.999999,7213.999999,6848.000001
3138,56043,7450,40,143,65,8,179,94.483196,0.507292,1.813570,...,16.1,14.5,55190,49263,61117,7885,3084.000000,2333.000000,2885.000000,3429.000000
3139,56045,6485,48,123,135,2,174,93.081671,0.688962,1.765466,...,16.1,14.2,54319,48315,60323,6967,2338.000000,2268.000000,2454.000000,3246.000000

In [287]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3140 entries, 0 to 3139
Data columns (total 74 columns):
 #   Column                      Non-Null Count  Dtype
---  ------                      --------------  -----
 0   fips                        3140 non-null   int64
 1   White_Pop                   3140 non-null   int64
 2   Black_Pop                   3140 non-null   int64
 3   Native_Pop                  3140 non-null   int64
 4   Asian_Pop                   3140 non-null   int64
 5   Hawaiian_Pop                3140 non-null   int64
 6   Mixed_Pop                   3140 non-null   int64
 7   White_Pop_Percent           3140 non-null   float64
 8   Black_Pop_Percent           3140 non-null   float64
 9   Native_Pop_Percent          3140 non-null   float64
 10  Asian_Pop_Percent           3140 non-null   float64
 11  Hawaiian_Pop_Percent        3140 non-null   float64
 12  Mixed_Pop_Percent           3140 non-null   float64
 13  Total_Population            3140 non-null   int64
 14  Population_Change           3140 non-null   int64
 15  Group_Quarters_Estimates    3140 non-null   int64
 16  Birth_Rate                  3140 non-null   float64
 17  Death_Rate                  3140 non-null   float64
 18  Natural_Increase            3140 non-null   float64
 19  International_Migration     3140 non-null   float64
 20  Domestic_Migration          3140 non-null   float64
 21  Net_Migration               3140 non-null   float64
 22  No_High_School              3140 non-null   int64
 23  High_School_Only            3140 non-null   int64
 24  Some_College                3140 non-null   int64
 25  Bachelor_or_Higher          3140 non-null   int64
 26  Labor_Force                 3140 non-null   int64
 27  Employed                    3140 non-null   int64
 28  Unemployed                  3140 non-null   int64
 29  Unemployment_Rate           3140 non-null   float64
 30  Median_Income               3140 non-null   int64
 31  Income_Percent_State        3140 non-null   float64
 32  Total_Physicians            3140 non-null   float64
 33  Primary_Care_Physicians     3140 non-null   float64
 34  General_Surgeons            3140 non-null   float64
 35  Nurse_Practitioners         3140 non-null   float64
 36  Physician_Assistants        3140 non-null   float64
 37  Total_Hospitals             3140 non-null   float64
 38  ICU_Beds                    3140 non-null   int64
 39  Senior_Population           3140 non-null   int64
 40  Senior_Percent              3140 non-null   float64
 41  County                      3140 non-null   object
 42  State                       3140 non-null   object
 43  State_FIPS                  3140 non-null   int64
 44  County_FIPS                 3140 non-null   int64
 45  Urban_Rural_Code            3140 non-null   int64
 46  AnyCondition_Prevalence     3140 non-null   float64
 47  Obesity_Prevalence          3140 non-null   float64
 48  HeartDisease_Prevalence     3140 non-null   float64
 49  COPD_Prevalence             3140 non-null   float64
 50  Diabetes_Prevalence         3140 non-null   float64
 51  CKD_Prevalence              3140 non-null   float64
 52  Obesity_CI_Lower            3140 non-null   float64
 53  Obesity_CI_Upper            3140 non-null   float64
 54  HeartDisease_CI_Lower       3140 non-null   float64
 55  HeartDisease_CI_Upper       3140 non-null   float64
 56  COPD_CI_Lower               3140 non-null   float64
 57  COPD_CI_Upper               3140 non-null   float64
 58  Diabetes_CI_Lower           3140 non-null   float64
 59  Diabetes_CI_Upper           3140 non-null   float64
 60  CKD_CI_Lower                3140 non-null   float64
 61  CKD_CI_Upper                3140 non-null   float64
 62  Total_Poverty               3140 non-null   int64
 63  Overall_Poverty_Percent     3140 non-null   float64
 64  Child_Poverty_0_17_Percent  3140 non-null   float64
 65  Child_Poverty_5_17_Percent  3140 non-null   float64
 66  Median_Household_Income     3140 non-null   int64
 67  Income_Confidence_Lower     3140 non-null   int64
 68  Income_Confidence_Upper     3140 non-null   int64
 69  Total_poblacion             3140 non-null   int64
 70  Edad_0-19                   3140 non-null   float64
 71  Edad_20-39                  3140 non-null   float64
 72  Edad_40-59                  3140 non-null   float64
 73  Edad_60-80+                 3140 non-null   float64
dtypes: float64(44), int64(28), object(2)
memory usage: 1.8+ MB

In [289]:
print(df.isnull().values.any())

False